.outer-square {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #fff;
  width: 600px;
  height: 600px;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.inner-square {
  background-color: green;
  width: calc((600px - 4 * 10px) / 3);
  height: calc((600px - 4 * 10px) / 3);
}
.circle {
  background-color: blue;
  border-radius: 50%;
  width: calc((600px - 4 * 10px) / 3);
  height: calc((600px - 4 * 10px) / 3);
}
